apiVersion: krew.googlecontainertools.github.com/v1alpha2
kind: Plugin
metadata:
  name: view-serviceaccount-kubeconfig
spec:
  platforms:
  - uri: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin/releases/download/{{ .Env.GIT_VERSION }}/kubectl-view_serviceaccount_kubeconfig-darwin-amd64.zip
    sha256: {{ file.Read "./dist/kubectl-view_serviceaccount_kubeconfig-darwin-amd64.zip" | crypto.SHA256 }}
    bin: kubectl-view_serviceaccount_kubeconfig
    files:
    - from: "*"
      to: .
    selector:
      matchLabels:
        os: darwin
        arch: amd64
  - uri: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin/releases/download/{{ .Env.GIT_VERSION }}/kubectl-view_serviceaccount_kubeconfig-darwin-arm64.zip
    sha256: {{ file.Read "./dist/kubectl-view_serviceaccount_kubeconfig-darwin-arm64.zip" | crypto.SHA256 }}
    bin: kubectl-view_serviceaccount_kubeconfig
    files:
    - from: "*"
      to: .
    selector:
      matchLabels:
        os: darwin
        arch: arm64
  - uri: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin/releases/download/{{ .Env.GIT_VERSION }}/kubectl-view_serviceaccount_kubeconfig-linux-amd64.zip
    sha256: {{ file.Read "./dist/kubectl-view_serviceaccount_kubeconfig-linux-amd64.zip" | crypto.SHA256 }}
    bin: kubectl-view_serviceaccount_kubeconfig
    files:
    - from: "*"
      to: .
    selector:
      matchLabels:
        os: linux
        arch: amd64
  - uri: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin/releases/download/{{ .Env.GIT_VERSION }}/kubectl-view_serviceaccount_kubeconfig-linux-arm64.zip
    sha256: {{ file.Read "./dist/kubectl-view_serviceaccount_kubeconfig-linux-arm64.zip" | crypto.SHA256 }}
    bin: kubectl-view_serviceaccount_kubeconfig
    files:
    - from: "*"
      to: .
    selector:
      matchLabels:
        os: linux
        arch: arm64
  - uri: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin/releases/download/{{ .Env.GIT_VERSION }}/kubectl-view_serviceaccount_kubeconfig-linux-arm.zip
    sha256: {{ file.Read "./dist/kubectl-view_serviceaccount_kubeconfig-linux-arm.zip" | crypto.SHA256 }}
    bin: kubectl-view_serviceaccount_kubeconfig
    files:
    - from: "*"
      to: .
    selector:
      matchLabels:
        os: linux
        arch: arm
  - uri: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin/releases/download/{{ .Env.GIT_VERSION }}/kubectl-view_serviceaccount_kubeconfig-windows-amd64.zip
    sha256: {{ file.Read "./dist/kubectl-view_serviceaccount_kubeconfig-windows-amd64.zip" | crypto.SHA256 }}
    bin: kubectl-view_serviceaccount_kubeconfig.exe
    files:
    - from: "*"
      to: .
    selector:
      matchLabels:
        os: windows
        arch: amd64
  version: "{{ .Env.GIT_VERSION }}"
  homepage: https://github.com/superbrothers/kubectl-view-serviceaccount-kubeconfig-plugin
  shortDescription: Show a kubeconfig setting to access the apiserver with a specified serviceaccount.
  description: Show a kubeconfig setting to access the apiserver with a specified serviceaccount.
